@model ListUserBookedHoursViewModel;

@{
    ViewBag.Title = "User booked hours";
}

<h1 class="text-center">Hours that you book</h1>

@if (!Model.PastDays.Any())
{
    <h2 class="mt-5">No previous hours!</h2>
}
else
{
    <div class="row mt-5">
        <div class="col-12">
            <h3 class="mb-3">
                Past booked hours:
            </h3>
            @foreach (var bookedHour in Model.PastDays.OrderBy(x => x.Date).ThenBy(x => x.StartFrom))
            {
        <div>
            You had hour for @bookedHour.StoreServiceName in @bookedHour.StoreName
            at @bookedHour.StartFrom:00 on (@bookedHour.Date.DayOfWeek) @bookedHour.Date.ToString("MM/dd/yyyy")
        </div>
            }
        </div>
    </div>
}

@if (!Model.CurrDay.Any())
{
    <h2 class="mt-5">No hours for today!</h2>
}
else
{
    <div class="row mt-5">
        <div class="col-12">
            <h3 class="mb-3">
                Booked hours for today:
            </h3>
            @foreach (var bookedHour in Model.CurrDay.OrderBy(x => x.Date).ThenBy(x => x.StartFrom))
            {
        <div>
            Today you have hour for @bookedHour.StoreServiceName in @bookedHour.StoreName
            at @bookedHour.StartFrom:00 on (@bookedHour.Date.DayOfWeek) @bookedHour.Date.ToString("MM/dd/yyyy")
        </div>
            }
        </div>
    </div>
}

@if (!Model.CommingDays.Any())
{
    <h2 class="mt-5">No hours for next days!</h2>
}
else
{
    <div class="row mt-5">
        <div class="col-12">
            <h3 class="mb-3">
                Booked hours for next days:
            </h3>
            @foreach (var bookedHour in Model.CommingDays.OrderBy(x => x.Date).ThenBy(x => x.StartFrom))
            {
        <div>
            You have booked hour for @bookedHour.StoreServiceName in @bookedHour.StoreName
            at @bookedHour.StartFrom:00 on (@bookedHour.Date.DayOfWeek) @bookedHour.Date.ToString("MM/dd/yyyy")
        </div>
            }
        </div>
    </div>
}







