@model List<UserBookHourViewModel>;

@{
    ViewBag.Title = "User booked hours";
}

@if (!Model.Any())
{
    <h3>You have no booked hours!</h3>
}
else 
{
<div>
    @foreach (var hour in Model)
    {
        <div class="col-mb-3" mb-3>
            @hour.StartFrom - hour
        </div>
        <div class="col-mb-3" mb-3>
            @hour.StoreName - Store name
        </div>
        <div class="col-mb-3" mb-3>
            @hour.StoreServiceName - Store Service Name
        </div>
        <div class="col-mb-3" mb-3>
            (@hour.Date.DayOfWeek) @hour.Date.ToString("MM/dd/yyyy") - Date
        </div>
    }
</div>
}



