@model ListStoreViewModel;

@{
    ViewBag.Title = "MyStore";
}

@if (Model == null)
{
    <div>You don't have store yet</div>
    <div class="mt-3">
        <a asp-controller="Store" asp-action="Create" class="btn btn-primary">Create One</a>
    </div>
}
else
{
    <div>
        <img src="@Model.PictureUrl" alt="Sample Photo" />
        <h2>@Model.Name - Store name</h2>
        <h2>@Model.Type - Store type</h2>
        <h2>@Model.Description</h2>
        <h2>@Model.OpenHour - Opens at </h2>
        <h2>@Model.CloseHour - Close at</h2>
        <h2>@Model.Town - At city</h2>
        <h2>@Model.District</h2>


        <a asp-controller="StoreService" asp-action="Create" asp-route-storeId="@Model.Id" class="btn btn-primary">Create service</a>

    </div>
}
