@model ListStoreViewModel;

@{
    ViewBag.Title = "Visit store";
}

<div>
    <img src="@Model.PictureUrl" class="img-fluid" alt="Sample Photo" />
    <h2>@Model.Name - Store name</h2>
    <h2>@Model.Type - Store type</h2>
    <h2>@Model.Description</h2>
    <h2>@Model.OpenHour - Opens at </h2>
    <h2>@Model.CloseHour - Close at</h2>
    <h2>@Model.Town - At city</h2>
    <h2>@Model.District</h2>
    <h2>@Model.Raiting</h2>

    <h1 class="text-center mt-3">
        Services
    </h1>

    @if (!Model.StoreServices.Any())
    {
        <div class="mt-3 text-center">Still don't have service</div>
    }
    else
    {
        <table class="table mt-3">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Service Name</th>
                    <th scope="col">Service Description</th>
                    <th scope="col">Service Price</th>
                    <th scope="col">Book an hour</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var storeService in Model.StoreServices)
                {
                    <tr>
                        <th scope="row">#</th>
                        <td>@storeService.Name</td>
                        <td>@storeService.Description</td>
                        <td>@storeService.Price</td>
                        <td>
                            <a asp-controller="StoreService" asp-action="BookAnHour" asp-route-storeServiceId="@storeService.Id" class="btn btn-primary">Book an hour</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    }

    <h1 class="text-center mt-3">
        Comments
    </h1>

    @if (!Model.Comments.Any())
    {
        <div class="mt-3 text-center">No comments yet! Be first to <a asp-controller="Comment" asp-action="Create" asp-route-storeId="@Model.Id">leave</a> a comment</div>
    }
    else
    {
        <table class="table mt-3">
            @foreach (var comment in Model.Comments)
            {
                <tr>
                    <td>@comment.Description</td>
                </tr>
            }
        </table>
    }

    <div class="mt-3">
        <a asp-controller="Comment" asp-action="Create" asp-route-storeId="@Model.Id" class="btn btn-primary">Leava a comment</a>
    </div>
    <div class="mt-3">
        <a asp-controller="Rating" asp-action="Give" asp-route-storeId="@Model.Id" class="btn btn-primary">Giva a raiting</a>
    </div>

</div>
